Django==6.0.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-cors-headers==4.1.0
django-environ==0.12.0
django-cleanup==9.0.0
django-allauth==65.15.0
django-crispy-forms==2.5

gunicorn==23.0.0
whitenoise==6.9.0

sqlparse==0.5.5
pytz
tzdata

redis==5.2.1
celery==5.5.3

pandas==2.2.2
numpy==1.26.4

pillow==10.3.0

requests==2.31.0
python-dotenv==1.0.0